<mat-card>
  <form (submit)="guardarPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
      placeholder="Ingrese titulo"
      matInput Type="text"
      minlength="3"
      name="titulo"
      ngModel
      required
      #titulo="ngModel"
      >
      <mat-error *ngIf="titulo.invalid">Por favor ingrese un titulo</mat-error>
    </mat-form-field>
    <mat-form-field>

      <textarea
      rows="6"
      matInput
      name="contenido"
      ngModel
      required
      #contenido="ngModel"

      >

      </textarea>
      <mat-error *ngIf="contenido.invalid">Por favor ingrese un contenido</mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary">
      Guardar Post
    </button>

  </form>

</mat-card>

